.App-content {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.img-circle {
    border-radius: 50%;
  }
  
.img-profile-aboutme {
    width: 20vw;
    height: 20vw;
    cursor: pointer;
}
  
.social-width {
    width: 32px;
    height: 32px;
    padding: 5px;
}
  
.social-width:hover {
    background-color: #d2d3d69c;
    border-radius: 5px;
}

.img-back {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    cursor: pointer;
}